---
// Config
import { Site } from "@site.config";

// Components
import Logo from "@elements/SVGlogo.astro";
import Icon from "@elements/SVGicon.astro";
import Time from "@elements/Time.astro";


// Variables
const linksTitle = "Quick Links";
const links = Site.FooterNavigation;
---
<footer id="footer" class="is-wrapper">
    <div class="content">
        <div class="company-info">
            <Logo name="stimsdesign" />
            <p class="mission">{Site.Mission}</p>
            <div class="social-links">
                {Site.SocialLinks.map((link) => (
                    <a href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.name}>
                        <Icon name={link.icon} />
                    </a>
                ))}
            </div>
        </div>
        <div class="links">
            <h5>{linksTitle}</h5>
            <ul>
                {links.map((link) => (
                    <li
                    class={`${link.name.toLowerCase()}-menu-item`}
                    class:list={[
                        { 'icon-only': link.iconOnly },
                        { 'drop-down': link.name === "Services" }
                    ]}>
                    {/* <a href={link.href}>{link.icon && <Icon name={link.icon} />}{link.name}</a> */}
                    <a href={link.href}>{link.name}</a>
                    </li>
                ))}
            </ul>
        </div>
        <div class="links">
            <h5>{linksTitle}</h5>
            <ul>
                {links.map((link) => (
                    <li
                    class={`${link.name.toLowerCase()}-menu-item`}
                    class:list={[
                        { 'icon-only': link.iconOnly },
                        { 'drop-down': link.name === "Services" }
                    ]}>
                    {/* <a href={link.href}>{link.icon && <Icon name={link.icon} />}{link.name}</a> */}
                    <a href={link.href}>{link.name}</a>
                    </li>
                ))}
            </ul>
        </div>
        <div class="extras">
            <h5>Extras</h5>
            <ul>
                <li>
                   Local Time <Time format="h:mm a" timezone="America/Phoenix" />
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>©{new Date().getFullYear()} {Site.Company}<span>{Site.TitleStinger}</span></p>
    </div>
</footer>

<style>
    @import "@theme/layout/Footer.css";
</style>