---
//DEV ONLY CSS
import "@theme/elements/PageHeading.css";

// Assets
import Logo from "@elements/SVGlogo.astro";
import FuzzyImage from "@elements/FuzzyImage.astro";
import { Site } from "@site.config";

// Props
interface Props {
    fuzzy?: string;
    background?: string;
    width?: number;
    height?: number;
    text?: string;
    color?: string;
    class?: string;
}
const { fuzzy, background, width, height, text, color = "dark", class: className = "" } = Astro.props;
---


<div id="page-heading">
    <div id="page-heading__text">
        <div id="page-heading__background">
            {background && (
                <FuzzyImage
                    name={background}
                    placeholder={fuzzy}
                    alt={text}
                    width={width}
                    height={height}
                    eager 
                    class={className}
                />
            )}
        </div>
        <h1 class={color}>{text}</h1>
    </div>
    <a href="/" aria-label={"Return to " + Site.Brand + " home"}>
        <Logo id="page-logo" name={Site.Logo} />
    </a>
</div>