---
// Pass `class="is-visible"` on component invocation to show the mobile nav on desktop

// Assets
import "@theme/navigation/MobileNav.css"
import { Site } from "@site.config";

// Components
import Icon from "../elements/SVGicon.astro";
import Logo from "../elements/SVGlogo.astro";

// Props for class list
interface Props {
    class?: string;
}

const { class: className } = Astro.props;

const links = [
    { name: "Home", href: "/" },
    { name: "Forms", href: "/forms.html", icon: "forms" },
    { name: "Contact", href: "/contact.html", icon: "phone" },
];
---
<mobile-nav class:list={[className]}>
    <a class="logo" href="/" aria-label={`Return to ${Site.Brand} home`}><Logo name="stimsdesign-icon" /></a>
    <a class="telephone" href={`tel:${Site.Telephone}`} aria-label={`Call Today ${Site.PrettyTelephone}`}>
        {Site.PrettyTelephone} <Icon name="mobilephone" />
    </a>
    <button id="mobile-hamburger" aria-label="Open Menu">
        <Icon name="hamburger" />
    </button>
    <div id="mobile-menu-drawer" class="menu-drawer">
        <div class="drawer-header">
            <Logo name="stimsdesign" class="drawer-logo"/>
            <button id="mobile-menu-close" aria-label="Close Menu">
                <Icon name="cross" />
            </button>
        </div>
        <nav class="drawer-nav">
            <ul>
                {
                    links.map((link) => (
                        <li><a href={link.href}>{link.icon && <Icon name={link.icon} />}{link.name}</a></li>
                    ))
                }
            </ul>
        </nav>
        <div class="drawer-footer">
            <p>&copy; {new Date().getFullYear()} {Site.Company}</p>
        </div>
    </div>
    <div id="mobile-menu-overlay" class="menu-overlay"></div>
</mobile-nav>

<script>
    import "@scripts/MobileNav.js";
</script>
