---
// Assets
import Logo from "@elements/SVGlogo.astro";
import { Image } from "astro:assets";

// Props
interface Props {
    fuzzy?: string;
    background?: string;
    backgroundWidth?: number;
    backgroundHeight?: number;
    text?: string;
    color?: string;
}
const { fuzzy, background, backgroundWidth, backgroundHeight, text, color = "dark",  } = Astro.props;
---


<div id="page-heading">
    <div id="page-heading__text" class="fuzzy-load" style=`--background: url(${fuzzy})`>
        <div id="page-heading__background">
            <div class="fuzzy-image" style={`background-image: url(${fuzzy});`}></div>
            <Image 
                src={background} 
                alt={text} 
                width={backgroundWidth} 
                height={backgroundHeight} 
                loading="eager" 
                fetchpriority="high" 
                widths={[480, 800, 1200, 2000]} 
                sizes="(max-width: 768px) 480px, (max-width: 1024px) 800px, 100vw" 
            />
        </div>
        <h1 class={color}>{text}</h1>
    </div>
    <a href="/" aria-label="Return to Quality Pool and Spa home">
        <Logo id="page-logo" name="stimsdesign" />
    </a>
</div>

<style>
    @import "@theme/elements/PageHeading.css";
</style>
