---
import { siteConfig } from "../siteConfig";
import "../assets/css/styles.css";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import MobileNav from "../components/navigation/MobileNav.astro";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

interface Props {
    title?: string;
    description?: string;
    keywords?: string;
    author?: string;
    ogImage?: string;
    favicon?: string;
}

const {
    title = siteConfig.title,
    description = siteConfig.description,
    keywords = siteConfig.keywords,
    author = siteConfig.author,
    ogImage = siteConfig.ogImage,
    favicon = "/favicon.ico",
} = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords} />
        <meta name="author" content={author} />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={ogImage} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.stimsdesign.com" />
        <title>{title}</title>
        <link rel="icon" href={favicon} type="image/x-icon" />
        <Font cssVariable="--font-inter" preload />
        <Font cssVariable="--font-quicksand" preload />
        <ClientRouter />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
        <MobileNav />
        <script is:inline src="/js/scripts.js" defer></script>
    </body>
</html>
