---
/**
 * @prop {string} legend - Visual accessibility title for the fieldset
 * @prop {string} name - The shared name binding the radio input group
 * @prop {Array} options - Objects mapping { id, label, value, required?, target?, checked? }
 * @prop {boolean} list - Renders the options vertically if true
 */

 // Import → CSS
import "@form-styles/radios.css";

interface Props {
    legend: string;
    name: string;
    options: { id: string; label: string; value: string; required?: boolean; target?: string; checked?: boolean }[];
    list?: boolean;
    tabindex?: number;
}

const { legend, name, options, list = false, tabindex } = Astro.props;
---

<fieldset class:list={["radio-group", { "list": list }]}>
    <legend>{legend}</legend>
    {options.map((option) => (
        <>
            <input 
                type="radio" 
                id={option.id} 
                name={name} 
                value={option.value} 
                placeholder=" " 
                required={option.required} 
                checked={option.checked}
                tabindex={tabindex}
                {...(option.target ? { "data-target": option.target } : {})}
            />
            <label for={option.id}>{option.label}</label>
        </>
    ))}
</fieldset>


